<div class="card">
  <div class="card-header">
    <span *ngIf="!userId">Cadastro</span>
    <span *ngIf="userId">Edição</span>
    de <strong>Usuários</strong>
  </div>
  <div class="card-body">
    <form [formGroup]="newUserForm">
      <div class="row">
        <div class="col-4">
          <div class="form-group">
            <label>Nome</label>
            <input type="text" class="form-control" formControlName="name" placeholder="Nome">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="form-group">
            <label>Usuário</label>
            <input type="text" class="form-control" formControlName="username" placeholder="Usuário">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="form-group">
            <label>Nível do Usuário</label>
            <select class="custom-select" formControlName="userlevel">
              <option value="" disabled hidden selected>Selecione o Nível do Usuário</option>
              <option value="0">Básico</option>
              <option value="1">Intermediário</option>
              <option value="2">Administrador</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="form-group">
            <label>Senha</label>
            <input type="password" class="form-control" formControlName="password" placeholder="Senha"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
            <div *ngIf="!!submitted && !!f.password.errors" class="invalid-feedback">
              <div *ngIf="!!f.confirmPassword.errors.mustMatch"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="form-group">
            <label>Confirme a Senha</label>
            <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirme a Senha"
              [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
            <div *ngIf="!!submitted && !!f.confirmPassword.errors" class="invalid-feedback">
              <div *ngIf="!!f.confirmPassword.errors.mustMatch">Senhas Diferentes</div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer">
    <div class="form-group">
      <button type="submit" class="btn btn-sm btn-primary" (click)="save()"><i class="fa fa-save"></i>
        <span *ngIf="!userId"> Cadastrar</span>
        <span *ngIf="userId"> Salvar</span></button>
      <span *ngIf="userId">
        <button type="reset" class="btn btn-sm btn-danger" (click)="delete()"><i class="fa cui-circle-x "></i>
          Excluir</button>
      </span>
      <button type="reset" class="btn btn-sm btn-danger" (click)="cancel()"><i class="fa fa-ban"></i>
        Cancelar</button>
    </div>
  </div>
</div>