<div class="card">
  <div class="card-header">
    Consulta de <strong>Localizações</strong>
  </div>
  <div class="card-body">
    <div class="form-inline">
      <input type="text" class="form-control mb-4 mr-sm-2" [(ngModel)]="descriptionFilter" placeholder="Descrição">
      <button type="submit" class="btn btn-primary mb-4" (click)="filter()">Filtrar</button>
    </div>
    <div class="form-inline">
      <button type="submit" class="btn btn-primary mb-4" (click)="goToNew()">Novo</button>
    </div>
    <ngx-datatable class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
      [rowHeight]="'auto'" [reorderable]="true" [limit]="10" [messages]="messages">
      <ngx-datatable-column name="Código" prop="locationId"></ngx-datatable-column>
      <ngx-datatable-column name="Descrição" prop="description"></ngx-datatable-column>
      <ngx-datatable-column name="Visualizar" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-row="row">
          <a [routerLink]="['/localizacoes', row.locationId]"><i class="icon-eye"></i></a>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>