<app-header
  [navbarBrandRouterLink]="['/home']"
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/logo.png', width: 90, height: 45, alt: 'Fatec-So Logo'}"
  [navbarBrandMinimized]="{src: 'assets/logo.png', width: 30, height: 15, alt: 'Fatec-So Logo'}"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="false">
  <ul class="nav navbar-nav ml-auto">
    <span class="mr-4">{{ getActualUser() }}</span>
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar [fixed]="true" [display]="'lg'">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <div style="margin-bottom: 25px">
    </div>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>
</div>
<app-footer>
  <span>Sistema Controle de Patrimônio</span>
  <span class="ml-auto">Powered by 4G</span>
</app-footer>
