<div class="card">
  <div class="card-header">
    <span *ngIf="!acquisitionMethodId">Cadastro</span>
    <span *ngIf="acquisitionMethodId">Edição</span>
    de <strong>Métodos de Aquisição</strong>
  </div>
  <div class="card-body">
    <form [formGroup]="newAcquisitionMethodForm">
      <div class="form-group">
        <label>Descrição</label>
        <input type="text" class="form-control" formControlName="description" placeholder="Descrição">
      </div>
    </form>
  </div>
  <div class="card-footer">
    <button type="submit" class="btn btn-sm btn-primary" (click)="save()"><i class="fa fa-save"></i>
      <span *ngIf="!acquisitionMethodId"> Cadastrar</span>
      <span *ngIf="acquisitionMethodId"> Salvar</span></button>
    <span *ngIf="acquisitionMethodId">
      <button type="reset" class="btn btn-sm btn-danger" [disabled]="!canDelete" (click)="delete()"><i
          class="fa cui-circle-x "></i> Excluir</button>
    </span>
    <button type="reset" class="btn btn-sm btn-danger" (click)="cancel()"><i class="fa fa-ban"></i> Cancelar</button>
  </div>
</div>