<div class="card">
  <div class="card-header">
    Consulta de <strong>Patrimônios</strong>
  </div>
  <div class="card-body">
    <div class="form-inline">
      <input type="text" class="form-control mb-4 mr-sm-2" [(ngModel)]="descriptionFilter" placeholder="Descrição">
      <button type="submit" class="btn btn-primary mb-4" (click)="filter()">Filtrar</button>
    </div>
    <div class="form-inline">
      <button type="submit" class="btn btn-primary mb-4" (click)="goToNew()">Novo</button>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Código</th>
            <th>Descrição</th>
            <th>Modelo</th>
            <th>Marca</th>
            <th>Valor</th>
            <th>Localização</th>
            <th>Método de Aquisição</th>
            <th>Visualizar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of rows">
            <td>{{row.patrimonyId}}</td>
            <td>{{row.description}}</td>
            <td>{{row.model}}</td>
            <td>{{row.brand}}</td>
            <td>{{row.value}}</td>
            <td><span *ngIf="row.location">{{row.location.description}}</span></td>
            <td><span *ngIf="row.acquisitionMethod">{{row.acquisitionMethod.description}}</span></td>
            <td><a [routerLink]="['/patrimonios', row.patrimonyId]"><i class="icon-eye"></i></a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>