<div class="card">
  <div class="card-header">
    Alterar Senha
  </div>
  <div class="card-body">
    <form [formGroup]="changePasswordForm">
      <div class="row">
        <div class="col-4">
          <div class="form-group">
            <label>Senha</label>
            <input type="password" class="form-control" formControlName="password" placeholder="Senha"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="form-group">
            <label>Confirme a Senha</label>
            <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirme a Senha"/>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="card-footer">
    <div class="form-group">
      <button type="submit" class="btn btn-sm btn-primary" (click)="save()"><i class="fa fa-save"></i>
        Salvar</button>
      <button type="reset" class="btn btn-sm btn-danger" (click)="cancel()"><i class="fa fa-ban"></i>
        Cancelar</button>
    </div>
  </div>
</div>