<div class="card">
  <div class="card-header">
    Cadastro de <strong>Localizações</strong>
  </div>
  <div class="card-body">
    <form class="form-inline" [formGroup]="newLocationForm">
      <div class="form-group">
        <input type="text" class="form-control" formControlName="description" placeholder="Descrição">
      </div>
      <div class="form-check ml-2" *ngIf="locationId">
        <input class="form-check-input" type="checkbox" formControlName="status" id="active">
        <label class="form-check-label" for="active">
          Ativo
        </label>
      </div>
    </form>
  </div>
  <div class="card-footer">
    <button type="submit" class="btn btn-sm btn-primary" (click)="save()"><i class="fa fa-dot-circle-o"></i> Cadastrar</button>
    <button type="reset" class="btn btn-sm btn-danger" (click)="cancel()"><i class="fa fa-ban"></i> Cancelar</button>
  </div>
</div>