<div class="card">
  <div class="card-header">
    Consulta de <strong>Logs</strong>
  </div>
  <div class="card-body">
    <ngx-datatable class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
      [rowHeight]="'auto'" [reorderable]="true" [limit]="10" [messages]="messages">
      <ngx-datatable-column name="Código" prop="logId" [width]="30"></ngx-datatable-column>
      <ngx-datatable-column name="Data">
        <ng-template ngx-datatable-cell-template let-row="row">
          {{ row.date | date: 'dd/MM/yyyy HH:mm:ss' }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Tela" prop="interfaceName"></ngx-datatable-column>
      <ngx-datatable-column name="Ação" prop="action"></ngx-datatable-column>
      <ngx-datatable-column name="Usuário" prop="user"></ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>