<div class="card">
  <div class="card-header">
    Consulta de <strong>Usuários</strong>
  </div>
  <div class="card-body">
    <div class="form-inline">
      <input type="text" class="form-control mb-4 mr-sm-2" [(ngModel)]="nameFilter" placeholder="Nome">
      <button type="submit" class="btn btn-primary mb-4" (click)="filter()">Filtrar</button>
    </div>
    <div class="form-inline">
      <button type="submit" class="btn btn-primary mb-4" (click)="goToNew()">Novo</button>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Usuário</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of rows">
            <td>{{row.userId}}</td>
            <td>{{row.name}}</td>
            <td>{{row.username}}</td>
            <td>
              <span *ngIf="row.status">Ativo</span>
              <span *ngIf="!row.status">Inativo</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>